{% extends "layout.html" %}

{% block content %}

    {% if bCode %}
    <div id="formcenter">
        <h2 id="title"><u>Latest Bitcoin Rate Price</u></h2>
        <h4><b>Currency Rate Ticker:</b> {{ bCode }}</h4>
        <h4><b>From Currency:</b> {{ bFromCode }} ({{ bFromName }})</h4>
        <h4><b>To Currency:</b> {{ bToCode }} ({{ bToName}})</h4>
        <h4 ><b>Exchange Rate:</b> <b id="bRate">{{ bRate }}</b ></h4>
        <h4><b>Date and time:</b> {{ bTime }}</h4>
    
        <button type="button" id="buybtn"
        onclick="buy()"  style="align-items: center;">
            Buy Bitcoin
        </button>

    </div>

    <a href="cryptocurrency">Back to Bitcoin Page</a>
    
    <br>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buy Bitcoin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <input id="bValue">
                <input id="bInput">
                <br>
                <label id="bresult"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div id="formcenter">
        <h1>No rate data</h1>
    </div>

    <a href="cryptocurrency">Back to Bitcoin Page</a>
    
    {% endif %}


{% endblock content %}