<!DOCTYPE html>
<html>
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    
    <title> Stock Hub - {{ title }} </title>

    </head>

    <body data-gr-c-s-loaded="true">

      <div class="fixedContainer">

        <!-- header -->

        <header id="headercontent" class="blog-header py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
          <a class="text-muted" href="#" style="text-decoration: none;"><p id="navColor">About Stock Hub</p></a>
          </div>
          <div id="divTitle" class="col-4 text-center">
            <b><a class="text-dark" font-size='32px' href="/homepage" style="text-decoration: none"><p id="headerTitle">Stock Hub</p></a></b>
          </div>

          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#" aria-label="Search">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="#"><p id="navColor">Sign Up</p></a>
          </div>
          </div>
        </header>
    
      <div id="headercontent" class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="/usequities" style="text-decoration: none;"><p id="navColor">U.S Equities</p></a>
          <a class="p-2 text-muted" href="/sgequities" style="text-decoration: none;"><p id="navColor">Singapore Equities</p></a>
          <a class="p-2 text-muted" href="/fx" style="text-decoration: none;"><p id="navColor">Foreign Exchange</p></a>
          <a class="p-2 text-muted" href="/cryptocurrency" style="text-decoration: none;"><p id="navColor">Cryptocurrency</p></a>
          <a class="p-2 text-muted" href="/preciousmetal" style="text-decoration: none;"><p id="navColor">Precious Metal</p></a>
          <a class="p-2 text-muted" href="/crudeoil" style="text-decoration: none;"><p id="navColor">Crude Oil</p></a>
        </nav>
      </div>
    
      <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-12 px-0">
          <h1 id="headercontent" class="display-4 font-italic" style="text-align: center;">If you don't find a way to make money while you sleep, you will work until you die.</h1>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold"><p id="nameAlignment">- Warren Buffett</p></a></p>
        </div>
      </div>

    <!-- end of header -->

    <!-- content -->
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12 blog-main">
          <h3 class="pb-4 mb-4 font-italic border-bottom">
            Featured Crude Oil
          </h3>

    <!-- <div class="row">
      <div class="column">
        <img src="https://internationalfinance.com/wp-content/uploads/2019/02/investors-ifm-1.jpg" height='200' alt="Snow" style="width:100%">
        <div class="picturetitle">Plenty of opportunities for you in 2019!</div>
      </div>
      <div class="column">
        <img src="http://boydstrategy.com/wp-content/uploads/2016/09/investment_planning-1252x536.jpg" height='200' alt="Forest" style="width:100%">
        <div class="picturetitle">Systematic Investment Planning</div>
      </div>
      <div class="column">
        <img src="http://nelliganlaw.ca/wp-content/uploads/2017/02/featureimage_investment.jpg" height='200' alt="Mountains" style="width:100%">
        <div class="picturetitle">Get to Know Unit Trust</div>
      </div>
      <div class="column" >
        <img src="https://www.dbs.com/iwov-resources/aics/images/AICS/CIOweb/201904/190424gequities.jpg" height='200' alt="Snow" style="width:100%">
        <div class="picturetitle">U.S Equities</div>
      </div>
      <div class="column">
        <img src="https://www.livetradingnews.com/wp-content/uploads/2019/11/sti1-701x467.jpg" height='200' alt="Forest" style="width:100%">
        <div class="picturetitle">Singapore Equities</div>
      </div>
      <div class="column">
        <img src="https://cdn.cfr.org/sites/default/files/styles/full_width_xl/public/image/2019/06/ForeignExchange.jpg" height='200' alt="Mountains" style="width:100%">
        <div class="picturetitle">Foreign Exchange</div>
      </div>
      <div class="column">
        <img src="https://assets-global.website-files.com/5bc662b786ecfc12c8d29e0b/5d07c76a696bfc4b3cb88294_cryptocurrency.jpg" height='200' alt="Snow" style="width:100%">
        <div class="picturetitle">Cryptocurrency</div>
      </div>
      <div class="column">
        <img src="https://cdn.images.express.co.uk/img/dynamic/22/590x/gold-price-spot-gold-1079447.jpg?r=1548766842982" height='200' alt="Forest" style="width:100%">
        <div class="picturetitle">Precious Metal</div>
      </div>
      <div class="column">
        <img src="https://static-news.moneycontrol.com/static-mcnews/2019/02/crude-oil-copy.jpg01-770x433.jpg" height='200' alt="Mountains" style="width:100%">
        <div class="picturetitle">Crude Oil</div>
      </div>
    </div> -->
        
  </main>
  </div>
  </div>
  </body>

  <br>

  <!-- footer -->
    <footer id="footerbackground" class="py-5">
      <div id="footercontent" class="row">
        
        <div class="col-6 col-md">
          <h5 id="words">Features</h5>
          <ul class="list-unstyled text-small">
            <li><a href="#" id="acolor">Cool stuff</a></li>
            <li><a href="#" id="acolor">Random feature</a></li>
            <li><a href="#" id="acolor">Team feature</a></li>
            <li><a href="#" id="acolor">Stuff for developers</a></li>
            <li><a href="#" id="acolor">Another one</a></li>
            <li><a href="#" id="acolor">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 id="words">Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a href="#" id="acolor">Resource</a></li>
            <li><a href="#"  id="acolor">Resource name</a></li>
            <li><a href="#" id="acolor">Another resource</a></li>
            <li><a href="#" id="acolor">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 id="words">Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a href="#" id="acolor">Business</a></li>
            <li><a href="#" id="acolor">Education</a></li>
            <li><a href="#" id="acolor">Government</a></li>
            <li><a href="#" id="acolor">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5 id="words">About</h5>
          <ul class="list-unstyled text-small">
            <li><a href="#" id="acolor">Team</a></li>
            <li><a href="#" id="acolor">Locations</a></li>
            <li><a href="#" id="acolor">Privacy</a></li>
            <li><a href="#" id="acolor">Terms</a></li>
          </ul>
        </div>
      </div>

      <div id="footercontent" class="col-6 col-md">
        <small id="acolor" class="d-block mb-3">© 2019 Stock Hub Ltd | Temasek Polytechnic</small>
        <small>
          <a href="#" style="text-decoration: none" id='acolor'>Back to top</a>
        </small>
      </div>

    </footer>
    
    <!-- end of footer -->
    </html>