<!-- LAW SHING FUNG -->
{% extends "layout.html" %}

{% block content %}

    {% if bCode %}
    <div id="formcenter">
        <h2 id="title"><u>Latest DBS Stock Price</u></h2>
        <h4><b>DBS Stock Ticker:</b> {{ bCode }}</h4>
        <h4><b>Closing Stock Price: </b><b id="dbsRate">{{ bPrice }}</b></h4>
        <h4><b>Closing Volume:</b>({{ bVolume}})</h4>
        <h4><b>Date and time:</b> {{ bTime }}</h4>
    
        <button type="button" id="buybtn"
        onclick="dbs()"  style="align-items: center;">
            Buy DBS Equities
        </button>

    </div>

    <a href="sgequities">Back to S.G. Equities</a>
    
    <br>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buy DBS Equities</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div>
                    <form class="form-inline">
                        <div class="form-group mb-2">
                          <label for="staticEmail2" class="sr-only">Amount: </label>
                          <input type="text" readonly="" class="form-control-plaintext" id="staticEmail2" value="Amount:">
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                          <label for="inputPassword2" class="sr-only"></label>
                          <input type="text" class="form-control" id="inputPassword2" placeholder="please input the amount">
                        </div>
                        <button class="btn btn-primary mb-2" onclick="display();return false;">Calculate</button>
                      </form>
                      <div id="result" class="d-flex justify-content-center" style="visibility:hidden;">
                        <form class="form-inline" action="BuySingaporeEquity" method="POST">
                          <div class="form-group mb-2">
                            <label for="staticEmail3" class="sr-only">Price(SGD): </label>
                            <input type="text" readonly="" class="form-control-plaintext" id="staticEmail3" value="Price(SGD): ">
                          </div>
                          <div class="form-group mx-sm-3 mb-2">
                            <label for="inputPassword3" class="sr-only">$110</label>
                            <input name="price" readonly="" type="text" class="form-control" id="inputPassword3" placeholder="$110">
                          </div>
                          <button type="submit" class="btn btn-warning mb-2">Submit</button>
                        </form>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

<script>
    function display(){
      let price = {{ bPrice }} * Number.parseFloat(document.querySelector("#inputPassword2").value);
      if (price > 500.0){
        window.alert("You cannot transfer more than SGD$500");
        document.querySelector("#result").style = "visibility:visible;";
        document.querySelector("#inputPassword2").value = 500 / {{bPrice}};
        document.querySelector("#inputPassword3").value = 500;
        return;
      }
      document.querySelector("#result").style = "visibility:visible;";
      document.querySelector("#inputPassword3").value = price;
    }
  </script>

    {% else %}
    <div id="formcenter">
        <h1>No rate data</h1>
    </div>

    <a href="sgequities">Back to S.G. Equities</a>
    
    {% endif %}


{% endblock content %}