{% extends "layout.html" %}

{% block content %}

    {% if eCode %}
    <div id="formcenter">
        <h2 id="title"><u>Latest Ethereum Rate Price</u></h2>
        <h4><b>Currency Rate Ticker:</b> {{ eCode }}</h4>
        <h4><b>From Currency:</b> {{ eFromCode }} ({{ eFromName }})</h4>
        <h4><b>To Currency:</b> {{ eToCode }} ({{ eToName}})</h4>
        <h4 ><b>Exchange Rate:</b> <b id="eRate">{{ eRate }}</b ></h4>  
        <h4><b>Date and time:</b> {{ eTime }}</h4>

        <button type="button" id="buybtn"
        onclick="buyethereum()"  style="align-items: center;">
            Buy Ethereum
        </button>

    </div>

    <a href="ethereum">Back to Ethereum Page</a>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buy Ethereum</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <input id="eValue">
                <input id="eInput">
                <label id="eresult"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="/cryptocurrencyindex"><button type="button" class="btn btn-primary">Buy</button></a>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div id="formcenter">
        <h1>No rate data</h1>
    </div>

    <a href="ethereum">Back to Ethereum Page</a>
    
    {% endif %}


{% endblock content %}