{% extends "layout.html" %}

{% block content %}
<div id="formcenter">
    <h2><b>Latest Gold Prices</b></h2>
    <h3><b>Date :</b> {{date}}</h3>
    <br>
    <h3><b>USD (AM) :</b> {{usdam}} <span style="margin-left:3em"><b>SGD Equivalent :</b> {{usdam1}}</h3></span>
    <h3><b>USD (PM) :</b> {{usdpm}} <span style="margin-left:3em"><b>SGD Equivalent :</b> {{usdpm1}}</h3></span>
    <br>
    <h3><b>GBP (AM) :</b> {{gbpam}}</h3>
    <h3><b>GBP (PM) :</b> {{gbppm}}</h3>
    <br>
    <h3><b>EURO (AM) :</b> {{euroam}}</h3>
    <h3><b>EURO (PM) :</b> {{europm}}</h3>

    <p>
        <a href="/services"><button class="w3-button w3-white w3-border w3-border-red w3-round-large">Buy</button></a>
    </p>
</div>



<a href="preciousmetal">Back to Precious Metals</a>

{% endblock content %}