{% extends "layout.html" %}

{% block content %}

    {% if lCode %}
    <div id="formcenter">
        <h2 id="title"><u>Latest Litecoin Rate Price</u></h2>
        <h4><b>Currency Rate Ticker:</b> {{ lCode }}</h4>
        <h4><b>From Currency:</b> {{ lFromCode }} ({{ lFromName }})</h4>
        <h4><b>To Currency:</b> {{ lToCode }} ({{ lToName}})</h4>
        <h4><b>Exchange Rate:</b> {{ lRate }}</h4>
        <h4><b>Date and time:</b> {{ lTime }}</h4>
    </div>

    <a href="litecoin">Back to Litecoin Page</a>

    {% else %}
    <div id="formcenter">
        <h1>No rate data</h1>
    </div>

    <a href="litecoin">Back to Litecoin Page</a>

    {% endif %}


{% endblock content %}