{% extends "layout.html" %}

{% block content %}

        <h1 id="formcenter">Latest Litecoin Rate Check</h1>
        <br>
        <form action="litecoinresult" method="post" id="formcenter">
            Cryptocurrency Type <input type="text" name="litecoinSymbol" value="Litecoin"><br>
            <br>
            <!-- API Key <input type="text" name="APIKey" value=""><br> -->
            <br>
            <p>
                <button class="w3-button w3-white w3-border w3-border-red w3-round-large" type="submit">Submit</button>
            </p>
        </form>
        <br>
        <a href="cryptocurrency">Back to Cryptocurrencies Page</a>

{% endblock content %}