{% extends "layout.html" %}

{% block content %}

    {% if lCode %}
    <div id="formcenter">
        <h2 id="title"><u>Latest Litecoinn Rate Price</u></h2>
        <h4><b>Currency Rate Ticker:</b> {{ lCode }}</h4>
        <h4><b>From Currency:</b> {{ lFromCode }} ({{ lFromName }})</h4>
        <h4><b>To Currency:</b> {{ lToCode }} ({{ lToName}})</h4>
        <h4 ><b>Exchange Rate:</b> <b id="lRate">{{ lRate }}</b ></h4>
        <h4><b>Date and time:</b> {{ lTime }}</h4>

        <button type="button" id="buybtn"
        onclick="buylitecoin()"  style="align-items: center;">
            Buy Litecoin
        </button>
    </div>

    <a href="litecoin">Back to Litecoin Page</a>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buy Litecoin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <input id="lValue">
                <input id="lInput">
                <label id="lresult"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/cryptocurrencyindex"><button type="button" class="btn btn-primary">Save changes</button></a>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div id="formcenter">
        <h1>No rate data</h1>
    </div>

    <a href="litecoin">Back to Litecoin Page</a>

    {% endif %}


{% endblock content %}