<!-- ALL MEMBERS -->
{% extends "layout.html" %}

{% block content %}

<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;    
  }
  </style>

  <p style="align-items: center;">
    <a class="btn btn-default btn btn-outline-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Profile
    </a>
    <a class="btn btn-default btn btn-outline-dark" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
      Pay Out Transactions
    </a>
    <a class="btn btn-default btn btn-outline-dark" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
      Transaction History
    </a>
  </p>


  <div class="collapse" id="collapseExample">
    <div class="col-md-12 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom" style="text-align: center;">
        My Profile
      </h3>
    </div>
    <table style="width: 100%;">
      <tr>
        <th class="w3-center">Account No.:</th>
        <td class="w3-center">{{ fAccountNo }}</td>
      </tr>
      <tr>
        <th class="w3-center">Balance:</th>
        <td class="w3-center">{{ fBalance }} </td>
      </tr>
      <tr>
        <th class="w3-center">Email Account:</th>
        <td class="w3-center">{{ fEmailAccount }}</td>
      </tr>
      <tr>
        <th class="w3-center">First Name:</th>
        <td class="w3-center">{{ fFirstName }}</td>
      </tr>
    </table>
  </div>


  <div class="collapse" id="collapseExample2">
    <div class="col-md-12 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom" style="text-align: center;">
        Pay Out Transactions
      </h3>
    </div>
    <table style="width: 100%;">
      {% for post in reci %} 
    <tr>
      <th class="w3-center">Name:</th>
      <td class="w3-center">{{ post.recipient_name}}</td>
    </tr>
    <tr>
      <th class="w3-center">Created At:</th>
      <td class="w3-center">{{ post.created_at }}</td>
    </tr>
    <tr>
      <th class="w3-center">Amount:</th>
      <td class="w3-center">${{ post.amount/100 }}</td>
    </tr>
    <tr>
      <th class="w3-center">Remarks:</th>
      <td class="w3-center">{{ post.subject }}</td>
    </tr>
    <tr>
        <th class="w3-center"></th>
        <td class="w3-center"></td>
      </tr>
    {% endfor %}
  </table>
  </div>


  <div class="collapse" id="collapseExample3">
    <div class="col-md-12 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom" style="text-align: center;">
        Transaction History
      </h3>
    </div>
    <table style="width: 100%;">
      {% for post in posts %}
    <tr>
      <th class="w3-center">Name:</th>
      <td class="w3-center">{{ post.transaction_type_details.remote_name}}</td>
    </tr>
    <tr>
      <th class="w3-center">Created At:</th>
      <td class="w3-center">{{ post.created_at }}</td>
    </tr>
    <tr>
      <th class="w3-center">Amount:</th>
      <td class="w3-center">${{ post.amount/100 }}</td>
    </tr>
    <tr>
      <th class="w3-center">ID:</th>
      <td class="w3-center">{{ post.transaction_type_details.internal_transfer_id }}</td>
    </tr>
    <tr>
        <th class="w3-center">Transaction Type:</th>
        <td class="w3-center">{{ post.transaction_type }}</td>
      </tr>
    <tr>
        <th class="w3-center"></th>
        <td class="w3-center"></td>
      </tr>
    {% endfor %}
  </table>
  </div>


{% endblock content %}