<!-- ALL MEMBERS -->
{% extends "layout.html" %}

{% block content %}


<div class="row">
  <div class="col-md-12 blog-main">
    <h3 class="pb-4 mb-4 font-italic border-bottom" style="text-align: center;">
      My Profile
    </h3>

    <!-- <div id="formcenter">
        <h4><b>Account No.:</b> {{ fAccountNo }}</h4>
        <h4><b>Balance:</b> {{ fBalance }}</h4>
        <h4><b>Email Account:</b> {{ fEmailAccount }}</h4>
        <h4 ><b>First Name:</b> {{ fFirstName }}</h4>

    </div> -->

    <table class="w3-table w3-striped w3-bordered">
      <tr>
        <th class="w3-center">Account No.:</th>
        <td class="w3-center">{{ fAccountNo }}</td>
      </tr>
      <tr>
        <th class="w3-center">Balance:</th>
        <td class="w3-center">{{ fBalance }} </td>
      </tr>
      <tr>
        <th class="w3-center">Email Account:</th>
        <td class="w3-center">{{ fEmailAccount }}</td>
      </tr>
      <tr>
        <th class="w3-center">First Name:</th>
        <td class="w3-center">{{ fFirstName }}</td>
      </tr>
    </table>
  </div>

      <div class="col-md-12 blog-main">
        <h3 class="pb-4 mb-4 font-italic border-bottom" style="text-align: center;">
          My Pay Out Transaction History
        </h3>

  
    <table class="w3-table w3-striped w3-bordered">
        {% for post in reci %} 
      <tr>
        <th class="w3-center">Name:</th>
        <td class="w3-center">{{ post.recipient_name}}</td>
      </tr>
      <tr>
        <th class="w3-center">Created At:</th>
        <td class="w3-center">{{ post.created_at }}</td>
      </tr>
      <tr>
        <th class="w3-center">Amount:</th>
        <td class="w3-center">${{ post.amount/100 }}</td>
      </tr>
      <tr>
        <th class="w3-center">Remarks:</th>
        <td class="w3-center">{{ post.subject }}</td>
      </tr>
      <tr>
          <th class="w3-center"></th>
          <td class="w3-center"></td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="col-md-12 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom" style="text-align: center;">
        All Transaction 
      </h3>

  <table class="w3-table w3-striped w3-bordered">
      {% for post in posts %}
    <tr>
      <th class="w3-center">Name:</th>
      <td class="w3-center">{{ post.transaction_type_details.remote_name}}</td>
    </tr>
    <tr>
      <th class="w3-center">Created At:</th>
      <td class="w3-center">{{ post.created_at }}</td>
    </tr>
    <tr>
      <th class="w3-center">Amount:</th>
      <td class="w3-center">${{ post.amount/100 }}</td>
    </tr>
    <tr>
      <th class="w3-center">ID:</th>
      <td class="w3-center">{{ post.transaction_type_details.internal_transfer_id }}</td>
    </tr>
    <tr>
        <th class="w3-center">Transaction Type:</th>
        <td class="w3-center">{{ post.transaction_type }}</td>
      </tr>
    <tr>
        <th class="w3-center"></th>
        <td class="w3-center"></td>
      </tr>
    {% endfor %}
  </table>
</div>



  <!-- History menu -->
  <div id="menu2" class="container tab-pane fade"><br>
    <h4>Transferred</h4>
    <div class="row">
      <div class="col-md-6">
        {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.transaction_type_details.remote_name}}</a>
              <small class="text-muted">{{ post.created_at }}</small>
            </div>
            <h4><a>${{ post.amount/100 }}</a></h4>
            <p class="article-content">{{ post.transaction_type_details.internal_transfer_id }}</p>
            <p class="article-content">Transaction Type: {{ post.transaction_type }}</p>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}