<!-- ALL MEMBERS -->

{% extends "layout.html" %}

{% block content %}

{% if fFirstName %}

<body id="formcenter">
    <h1>Welcome, {{ fFirstName }} </h1>
    <br>
    <h4><b>Your Fidor Bank ID:</b> {{ fID }}</h4>
    <br>
    <h4><b>FIDOR Bank Account:</b> {{ fAccountNo }}</h4>
    <br>
    <h4><b>Balance:</b> $ {{ fBalance }}</h4>
    <br>
    <br>
    <p>
        <a href="bank_transfer"><button class="w3-button w3-white w3-border w3-border-red w3-round-large">Click to Transfer Funds</button></a>
    </p>
</body>

{% else %}

<body>
    <h1>No customers details</h1>
    <a href="index">back to index</a>
</body>
{% endif %}

{% endblock content %}